
.skills {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.skills li {
    white-space: nowrap;
    background-color: #abadad56;
    padding: 5px;
    border-radius: 3px;
}

.job-title {
    display: flex;
    justify-content: space-between;
}

.cst-space {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0px;
}